@import var

//*
//	background-color: rgba(0,0,0,0.05)

html
	height: 100%
	body
		margin: 0 0 0 0
		height: 100%

p
	font-family: $roboto

.tabulation
	display: inline-block
	width: 30px

.bold
	font-style: normal
	font-weight: 700

h1, h2, h3, h4, h5, h6
	line-height: 0px
	font-family: $roboto
	font-weight: normal

h1
	font-size: 30px

h3
	font-size: 18px
	color: $grey

@media screen and (max-width : 1650px)
	.marger
		width: $marger-little
		.marger-wrap
			padding-top: $or * 100%
	#left
		width: $inner_percentage-little - ($inner_percentage-little * $or)
		max-width: $inner_percentage-little - ($inner_percentage-little * $or)
		margin-left: $marger-little
	#right
		width: $inner_percentage-little * $or
		max-width: $inner_percentage-little * $or

@media screen and (min-width : 1651px) and (max-width : 2000px)
	.marger
		width: $marger
		.marger-wrap
			padding-top: $or * 100%
	#left
		width: $inner_percentage - ($inner_percentage * $or)
		max-width: $inner_percentage - ($inner_percentage * $or)
		margin-left: $marger
	#right
		width: $inner_percentage * $or
		max-width: $inner_percentage * $or

@media screen and (min-width : 2001px)
	.marger
		width: $marger-big
		.marger-wrap
			padding-top: $or * 60%
	#left
		width: $inner_percentage-big - ($inner_percentage-big * $or)
		max-width: $inner_percentage-big - ($inner_percentage-big * $or)
		margin-left: $marger-big
	#right
		width: $inner_percentage-big * $or
		max-width: $inner_percentage-big * $or


@media screen and (max-width : 1260px)
	#left, #right
		display: block
		width: $inner_percentage-little
		max-width: $inner_percentage-little
	#right
		margin-left: $marger-little
		margin-right: $marger-little
		margin-top: 50px

@media screen and (min-width : 1261px)
	#left, #right
		display: inline-block
		vertical-align: top

.marger
	position: relative
	.marger-wrap
		.marger-inner
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0

.button
	color: black
	text-decoration: none
	font-family: $roboto
	font-size: 14px
	padding: 6px 10px 6px 10px
	border: 2px solid black
	border-radius: 9px
	transition-duration: 0.10s
	margin-left: 10px

.button:hover
	background-color: black
	color: white
	border-color: black
	transition-duration: 0.10s

.highlight-button
	color: white
	background: $touch-color
	border-color: $touch-color
	transition-duration: 0.10s

.highlight-button:hover
	background-color: white
	color: $touch-color
	border-color: $touch-color
	transition-duration: 0.10s