extends layout

block content
	header#main-header
		h1= title
	.row
		.main_container.eight.columns.offset-by-two.column
			article.content.six.columns
				h1 Raytracer
				p This group project lasted two months. We were four students to develop this pretty well featured raytracer - @qduperon @ple-lez @hsabouri @rbejot. Our raytracer handles many rendering features - polys, shadows, multi-reflexion, multi-pass rendering, textures etc... We made a little UI to make manipulations a little easier. The goal of this raytracer is to compute somekind of pieces of art.
			.cover.six.columns
				img(src="./images/rt_1.png")
