doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		link(href="https://fonts.googleapis.com/css?family=Prata|Source+Sans+Pro:200,400,400i", rel="stylesheet")
	body
		block content
